* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #fff8f6;
  height: 100vh;
}

header, footer {
  width: 100%;
  font-size: 12px;
  padding: 10px 30px;
  background-color: #fff387;
}

header {
  max-height: 150px;
}

footer {
  color: rgb(0, 0, 0);
  max-height: 150px;
  display: inline-block;
  text-align: center;
}

.logo, .logo-footer {
  width: 70px;
}

footer p {
  margin: 10px 0;
}

form {
  display: inline-block;
  font-size: 12px;
  background-color: #ecc4aa;
  padding: 12px 48px;
  max-width: 400px;
  width: fit-content;
}

label {
  display: block;
  color: #333;
}

input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura do input */
}

.cardapio {
  font-size: 10px; /* Remove espaçamento entre os elementos inline-block */
  text-align: center; /* Alinha os elementos no centro */
}

h1 {
  color: #1c8e00;
}

h2 {
  font-size: 20px;
}

div, section {
  margin: 32px;
}

.item {
  background-color: #ecc4aa;
  color: black;
  display: inline-block;
  width: 30%;
  margin: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.item img {
  max-width: 100%;
}

.item h4 {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.item p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}

.valor-item {
  font-size: 12px;
  color: white;
  font-weight: 700;
  background-color: rgb(197, 0, 0);
  width: fit-content;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 20px;
}
